﻿<div class="jumbotron">
    <h1>Generation de Metric</h1>
    <p class="lead">Permet de generer un nombre aleatoire de metric, de facon aleatoire. les enregistres dans un fichier JMSEmulator</p>
    <p><a class="btn btn-default" href="@Url.Action("Generer", "Home")">Générer </a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Creation de Device</h2>
        <p>Genere un nombre aleatoire de device, de facon aleatoire et les stockes dans un fichier JMSEmulator.</p>
        <p><a class="btn btn-default" href="@Url.Action("CreateDevice", "Home")">CreateDevice </a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Permet de creer des devices a partir d'un JSON, a copier dans le champ texte (non fonctionnel).</p>
        <p><a class="btn btn-default" href="@Url.Action("JsonForm", "Home")">CreateDevice </a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
