﻿@model Gateway.Models.JsonModel
@{
    ViewBag.Title = "JsonForm";
}


<h2>JsonForm</h2>
@using (Html.BeginForm("JsonForm", "Home", FormMethod.Post))
{<fieldset>
        <legend>Emulate with Json</legend>
        <div class="form-group">
                @Html.TextAreaFor(m => m.json, new { @class = "form-control" })
            <button type="submit" class="btn-u btn-u-blue">Generate</button>
        </div>
    </fieldset>
}
